.blog-roll {
  --column-min-width: 40ch;
  --column-gap-width: 2ch;
  --max-cols: 3;

  --bounding-width: calc(
    var(--max-cols) * var(--column-min-width) +
    (var(--max-cols) - 1) * var(--column-gap-width)
  );

  max-width: var(--bounding-width);
  margin: 0 auto;
}

.blog-list {
  display: grid;
  gap: var(--column-gap-width);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--column-min-width), 100%), 1fr));
  container: grid-auto-fit / inline-size;

  a {
    display: block;
    text-decoration: none;
    color: unset;
    @container grid-auto-fit (inline-size > calc(var(--column-min-width) * 2 + var(--column-gap-width))) {
      background-color: blue;
    }
  }
}

.blog-card {
  --max-image-height: 25ch;
  overflow: hidden;
  contain: content;
  height: 100%;
  border: 2px solid hsl(0, 0%, 40%);
  border-radius: 1.25rem;

  h2 {
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.25;
  }

  p { margin: 0; }


}

.blog-image-clip {
  overflow: hidden;
  height: var(--max-image-height);
  position: relative;

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;

  @starting-style {
    opacity: 0;
  }

  img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:fit-content;
    transition-property: filter, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    filter: saturate(0.30);
    transform: scale(1.2);

    a:hover &, a:focus & {
      filter: saturate(0.8);
      transform: scale(1);
    }
  }

}

.blog-chip {
  position: absolute;
  background-color: hsl(30, 60%, 30%);
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 600;

  --overhang-x: calc(var(--content-inset) * 1.1);
  --overhang-y: calc(var(--content-inset) + 0.5lh);

  border-radius: 0.25rem;
  padding: 0.25rem var(--overhang-x);
  margin-top: calc(-1 * var(--overhang-y));
  margin-left: calc(-1 * var(--overhang-x));
}

.card-details {
  --content-inset: 2rem;
  padding: var(--content-inset);
}


.blog-content-button {
  position: absolute;
  background-color: oklch(60% 20% 220);
  padding: 1rem 2rem;
  font-size: 1.75rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  z-index: 1;
  transform: translate(-120%, 0);
}